<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
</packages>